<launch>
  <!-- Listen to messages from joysicks -->
  <node pkg="joy" name="joy_node" type="joy_node"/>

  <!-- Begin the simulator with the parameters from params.yaml -->

  <node pkg="final_challenge2023" type="lane_pure_pursuit_point.py" name="lane_pursuit" output="screen">
    <rosparam command="load" file="$(find final_challenge2023)/racingParams.yaml"/>
  </node>
</launch>
